.TW-follower-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
  margin-bottom: 16px;
}

.TW-follower-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.TW-follower-card-info {
  display: flex;
  flex-direction: column;
}

.TW-follower-card-info-name {
  opacity: .6;
}

.TW-follower-card-info-Username {
  opacity: .6;
}

.TW-follower-card-imagen {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.TW-follower-card-button {
    cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
}

.TW-follower-card-button.is-following {
border: 1px solid rgb(46, 9, 255);
transition: .3s ease background-color;
}

.TW-follower-card-button:hover {
  background: #4228d4;
  color: #222;
  transition: .3s ease background;
}

.TW-follower-card-button.is-following:hover {
background: red;
border: 1px solid red;
}

.TW-follower-card-stopfollow {
  display: none;
}

.TW-follower-card-button.is-following:hover .TW-follower-card-stopfollow {
  display: block;
}

.TW-follower-card-text {
  display: block;
}

.TW-follower-card-button.is-following:hover .TW-follower-card-text {
  display: none;
}